*.meta
*.csproj
*.sln
*.user
*.pidb
*.unitproj
.vs/
Build/

Unity/Library
Unity/Logs
Unity/Temp
Unity/UserSettings
Unity/.vsconfig
Unity/UpgradeLog.htm
Unity/.vscode
Unity/.collabignore
Unity/Assets/generatedAssetBundles
Unity/Assets/Resources/video.mp4
Unity/Assets/build-ultralight/UltraLight/ulbridge
Unity/Assets/build-ultralight/UltraLight/x64

SmartTVMod/bin/
SmartTVMod/obj/