*.meta
*.csproj
*.sln
*.user
*.pidb
*.unitproj
.vs/
Build/

Unity/Library
Unity/Logs
Unity/Temp
Unity/UserSettings
Unity/.vsconfig
Unity/UpgradeLog.htm
Unity/.vscode
Unity/.collabignore
Unity/Assets/generatedAssetBundles

SmartTVMod/bin/
SmartTVMod/obj/